*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    text-align: center;
}

.contenitore{
    position: absolute;
    width: 96%;
    height: 96%;
    bottom: 2%;
    left: 2%;
    /*background-color: blue;*/
}

.riga{
    /*background-color: violet;*/
    height: 48%;
    margin-top:9px;
}

.riga .carta{
    float: left;
    position: relative;
    /*background-color: rgb(136, 0, 0);*/
    width: 32%;
    height: 100%;
}

.centrale{
    margin:0 2%;
}

.immagine{
    /*background-color: rgb(28, 209, 89);*/
    position: relative;
    top:0;
    left:0;
    height: 85%;
    width: 100%;
    overflow: hidden;
}
.testo{
    /*background-color: rgb(18, 124, 218);*/
    position: absolute;
    bottom:0;
    left:0;
    height: 15%;
    width: 100%;
    font-size: 12px;
    line-height: 1;
    word-break: break-all;
}

.immagine img{
    width: 100%;
    position: absolute;
}

.cuore{
    position:absolute;
    right:0;
    top:15px;
    height: 30px;
    width: 30px;
    /*background-color: rgb(255, 255, 255);*/
    text-align: center;
    line-height: 32px;
}

.cuore button{
    height: 30px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    border:none;
    cursor:pointer;
}

.sconto{
    background-color: red;
    margin-right: 5px;
}

.sost{
    background-color: green;
}

.info{
    color: white;
    padding: 2px;
    font-weight: bold;
    font-size: small;
    position: relative;
    top: 220px;
    float: left;
}

.testo .prezzo{
    text-decoration: line-through;
}

.testo .prezzo-scontato{
    color: red;
}

.testo h4{
    text-transform: uppercase;
}

.prezzo::after{
    content: " \20AC";
}
.prezzo-scontato::after{
    content: " \20AC";
}